<div class="layout-footer">
    <div class="p-grid">
        <div class="p-col-6">
            <div href="/" class="logo-container" style="position: relative;top: 17px;">
                <p class="text">Copyright © {{currenYearFormat}} Legal Lokam. All rights reserved.</p>
                <!-- <img src="assets/layout/images/logo-black.png" alt="babylon-layout" /> -->
            </div>
        </div>
        <div class="p-col-12 p-md-6 footer-icons">
            <a href="#">
                <img src="assets\layout\images\icons8-facebook-24 (1).png">
            </a>
            <a href="#">
                <img src="assets\layout\images\google_circle-512.png">
            </a>
            <a href="#">
                <img src="assets\layout\images\twitter_circle_color-512.png">
            </a>

            <a href="#">
                <img src="assets\layout\images\social-linkedin-circle-512.png">
            </a>
        </div>
        <!-- <div class="p-col-6 footer-icons">
            <a href="#">
                <i class="pi pi-home"></i>
            </a>
            <a href="#">
                <i class="pi pi-globe"></i>
            </a>
            <a href="#">
                <i class="pi pi-envelope"></i>
            </a>
        </div> -->
    </div>
</div>
