$primaryColor: #00aae7;
$primaryTextColor:#ffffff;

$logoBgColor:#42A5F5;
$topbarBgColor:#00aae7;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#33bbec;
$lightMenuitemActiveTextColor:#00aae7;
$darkMenuitemActiveTextColor:#00aae7;
$horizontalMenuitemActiveBgColor:#00aae7;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#00aae7;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
